<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link type="text/css" rel="stylesheet" href="../../css/reset.css" />
<link type="text/css" rel="stylesheet" href="../../css/style.css" />
<link type="text/css" rel="stylesheet" href="../../css/account/account.css" />
</head>
<body>
<div class="header">
<div class="top_nav">
	<a href="javascript:;" class="logo"><img src='../../images/page/logo.jpg'></a>
	<ul>
		<li><a href="javascript:;">首页</a></li>
		<li><a href="javascript:;">投资列表</a></li>
		<li><a href="javascript:;">安全保障</a></li>
		<li><a href="javascript:;">新手指引</a></li>
	</ul>
	<div class="login_regis">
		<a href="javascript:;" class="login">登录</a>
		<a href="javascript:;" class="regis">注册</a>
	</div>
</div>
</div>
<div class="account-container clearfix">
  <div class="main-left">
       <div class="toptitle"><span class="fl">个人账户</span></div>
		<div class="subNav currentDd currentDt"><span class="subimg"><img src="../../images/page/sideBar_off_03.jpg"></span>账户概况</div>
        
        <div class="subNav"><span class="subimg"><img src="../../images/page/sideBar_off_07.jpg"></span>理财管理</div>
        <ul class="navContent">
                <li><a href="#">投资项目</a></li>
                <li><a href="#">债权转让</a></li>
                <li><a href="#">回款计划</a></li>
        </ul>
        <div class="subNav"><span class="subimg"><img src="../../images/page/sideBar_off_11.jpg"></span>借款管理</div>
        <ul class="navContent">
                <li><a href="#">我的借款</a></li>
                <li><a href="#">还款明细</a></li>
                <li><a href="#">还款设置</a></li>
        </ul>
        <div class="subNav"><span class="subimg"><img src="../../images/page/sideBar_off_15.jpg"></span>资金管理</div>
        <ul class="navContent">
                <li><a href="#">充值</a></li>
                <li><a href="#">提现</a></li>
                <li><a href="#">资金记录</a></li>
        </ul>
        <div class="subNav"><span class="subimg"><img src="../../images/page/sideBar_off_25.jpg"></span>消息中心</div>
        <div class="subNav"><span class="subimg"><img src="../../images/page/sideBar_off_28.jpg"></span>账户设置</div>
        <ul class="navContent">
                <li><a href="#">账户信息</a></li>
                <li><a href="#">账户安全</a></li>        </ul>

  </div>
  <div class="main-right">
      <div class="account_set_user">
             <div class="us1 ">
               <span class="us_img"><img src="../../images/page/validate_off_03.jpg"></span>实名认证
             </div>
             <div class="us2 yes_color">
               <p>为了账户安全，请尽快认证</p>
               <!--<p>*昂</p>
               <p>1101****101X</p>-->
             </div>
             <div class="us3">
               <p class=""><a href="#" class="toModify">未认证</a></p>
             </div>
          </div>
          <div id="set_rzdiv" >
               <p><span class="width70">真实姓名</span><input type="text" /></p>
               <p><span class="width70">身份证号</span><input type="text" /></p>
               <input type="button" value="提交" class="smbtn btn mlt80">
          </div>
          <div class="account_set_user">
             <div class="us1 red">
               <span class="us_img"><img src="../../images/page/validate_on_07.jpg"></span>绑定手机
             </div>
             <div class="us2 yes_color">
               <p>您的手机号码：185****8847</p>
             </div>
             <div class="us3">
               <p><a href="#" id="logreg_btn1" class="toModify red">修改</a></p>
             </div>
          </div>
          <div id="set_rzdiv" >
               <p><span class="width70">手机号</span><input type="text" /></p>
               <p><span class="width70">验证码</span><input type="text" /> <input type="button" value="点击发送" class="xsbtn btn mlt10"></p>
               <p><span class="width70">交易密码</span><input type="password" /></p>
               <input type="button" value="提交" class="smbtn btn mlt80">
          </div>
          <div class="account_set_user">
             <div class="us1">
               <span class="us_img"><img src="../../images/page/validate_off_11.jpg"></span>绑定银行卡
             </div>
             <div class="us2">
               <p>只有绑定银行卡后才能进行投资</p>
               <!--<p>默认提现银行卡：中信银行 6217730730*******</p>-->
             </div>
             <div class="us3">
               <p class=""><a href="#" class="toModify">绑定</a></p>
             </div>
          </div>
          <div id="set_rzdiv" class="pltcc" >
               <div class="add_card_top">
                    <div class="accset_cardinfo">
                        <div class="accset_cardinfo_bignav">
                           <img src="../../images/page/images_46.jpg"> <a href="#" class="dmore">删除</a>
                        </div>
                        <div class="accset_cardinfo_details default_bac">
                           <p>卡号：6217730730*******</p>
                        </div>
                    </div>
                    <div class="accset_cardinfo">
                        <div class="accset_cardinfo_bignav">
                           <img src="../../images/page/images_45.jpg">  <a href="#" class="dmore">设为默认卡</a> <a href="#" class="dmore">删除</a>
                        </div>
                        <div class="accset_cardinfo_details">
                           <p>卡号：6217730730*******</p>
                        </div>
                    </div>
                    <div class="accset_cardinfo textCt ptop30 height90">
                       <p><img src="../../images/page/images_47.jpg"></p>
                       <p><a href="#" class="blue2 udline" id="addcard">添加银行卡</a></p>
                    </div>
               </div>
               <div id="add_setcards">
                    <div class="fastpayment_dv clearfix">
                      <ul>
                         <li><img src="../../images/page/images_07.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_09.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_11.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_16.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_17.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_18.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_22.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_23.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_24.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_28.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_30.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_31.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_35.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_36.jpg" width="187" height="36" class="borC pad1"></li>
                         <li><img src="../../images/page/images_37.jpg" width="187" height="36" class="borC pad1"></li>
                      </ul>
                    </div>
                    <p><span class="width100">姓名</span>丹*</p>
                    <p><span class="width100">身份证号</span>110***********5512</p>
                    <p><span class="width100">储蓄卡卡号</span><input type="text" /></p>
                    <p><span class="width100">银行预留手机号</span><input type="text" /></p>
                    <p><span class="width100">验证码</span><input type="text" /> <input type="button" value="点击发送" class="xsbtn btn mlt10"></p>
                    <p><span class="width100">开户行所在地</span>
                       <select class="account_set_sel mltd4"><option>北京</option></select>
                       <span>省</span>
                       <select class="account_set_sel"><option>北京</option></select>
                    </p>
                    <p><input type="button" value="提交" class="smbtn btn mlt130"></p> 
               </div>
          </div>
          <div class="account_set_user">
             <div class="us1">
               <span class="us_img"><img src="../../images/page/validate_off_15.jpg"></span>绑定邮箱
             </div>
             <div class="us2">
               <p>可接受系统消息</p>
             </div>
             <div class="us3">
               <p class=""><a href="#" class="toModify">绑定</a></p>
             </div>
          </div>
          <div id="set_rzdiv" >
               <p><span class="width70">绑定邮箱</span><input type="text" /></p>
               <p><span class="width70">交易密码</span><input type="password" /></p>
               <input type="button" value="提交" class="smbtn btn mlt80">
          </div>
  </div>
</div>
<div class="footer clearfix">
	<div class="wrap1150">
		<div class="friendlink clearfix">
			<span class="fl mrt10">友情链接：</span>
			<ul class="foot_linkul">
				<li>网贷之家</li>
				<span>|</span>
				<li>众筹网</li>
				<span>|</span>
				<li>壹金融</li>
				<span>|</span>
				<li>拍车365</li>
				<span>|</span>
				<li>金融资讯</li>
				<span>|</span>
				<li>齐鲁股权交易中心</li>
			</ul>
		</div>
		<div class="clearfix mtop40">
			<div class="foot_custom">
				<h1>客服电话</h1>
				<p>400-6766-988</p>
				<p>周一至周五 9:00-18:00</p>
			</div>
			<div class="foot_custom">
				<h1>官方QQ群</h1>
				<p>94705377</p>
				<p>376813819</p>
			</div>
			<div class="foot_custom">
				<h1>关注我们</h1>
				<p>
					<a href="#" target="_blank">
						<img src="../../images/page/images_12.jpg">
					</a>
					<a href="#" target="_blank">
						<img src="../../images/page/images_13.jpg" class="mlt10">
					</a>
				</p>
			</div>
			<div class="foot_navigation">
				<ul class="clearfix">
					<li>安全保障</li>
					<span>|</span>
					<li>关于我们</li>
					<span>|</span>
					<li>加入我们</li>
					<span>|</span>
					<li>联系我们</li>
					<span>|</span>
					<li>帮助中心</li>
					<span>|</span>
					<li>隐私政策</li>
					<span>|</span>
					<li>免费条款</li>
					<span>|</span>
					<li>政策法规</li>
				</ul>
				<p class="mtop20 textH24 clearfix">ICP备案号：京ICP备14029254号-1经营性ICP许可证号：京ICP证130046号</p>
			</div>
		</div>
		<div class="textCt mtop20 clearfix">
			<a href="#">
				<img src="../../images/page/images_14.jpg">
			</a>
			<a href="#">
				<img src="../../images/page/images_15.jpg" class="mlt20 mrt20">
			</a>
			<a href="#">
				<img src="../../images/page/images_16.jpg">
			</a>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
$(function(){
$(".subNav").click(function(){
	  $(this).toggleClass("currentDd").siblings(".subNav").each(function(){
		$(this).removeClass("currentDd");
		$(this).find("img").not(".mlt50").attr("src",$(this).find("img").attr("src").replace("_on","_off"));
	  });
	  $(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt");
	  $(this).find("img").not(".mlt50").attr("src",$(this).find("img").attr("src").replace("_off","_on"));
	  $(this).next(".navContent").slideToggle(500).siblings(".navContent").slideUp(500);
	})	
})

$('.subNav').hover(function(){
			var a='icon_b_01';
            $(".icon_1 img").attr("src","../images/second/"+a+".jpg");
			},function(){
			var a1='icon_a_01';
            $(".icon_1 img").attr("src","../images/second/"+a1+".jpg");
				
	    })
		
		
		
		
		
		
		
$(document).ready(function(){
	$(".toModify").click(function(){
		$(this).closest(".account_set_user").next("#set_rzdiv").slideToggle(500);
	});	
});
window.onload=function()
{
	var addcard=document.getElementById("addcard");
	var add_setcards=document.getElementById("add_setcards"); 

	addcard.onclick=function(){
	if(add_setcards.style.display=="block"){
		add_setcards.style.display="none";
	}
	else{
		add_setcards.style.display="block";
	}	
} 
}
</script>
</html>
