<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="../../css/reset.css" />
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />
</head>
<body>
	<div class="footer clearfix">
	<div class="wrap1150">
		<div class="friendlink clearfix">
			<span class="fl mrt10">友情链接：</span>
			<ul class="foot_linkul">
				<li>网贷之家</li>
				<span>|</span>
				<li>众筹网</li>
				<span>|</span>
				<li>壹金融</li>
				<span>|</span>
				<li>拍车365</li>
				<span>|</span>
				<li>金融资讯</li>
				<span>|</span>
				<li>齐鲁股权交易中心</li>
			</ul>
		</div>
		<div class="clearfix mtop40">
			<div class="foot_custom">
				<h1>客服电话</h1>
				<p>400-6766-988</p>
				<p>周一至周五 9:00-18:00</p>
			</div>
			<div class="foot_custom">
				<h1>官方QQ群</h1>
				<p>94705377</p>
				<p>376813819</p>
			</div>
			<div class="foot_custom">
				<h1>关注我们</h1>
				<p>
					<a href="#" target="_blank">
						<img src="../../images/page/images_12.jpg">
					</a>
					<a href="#" target="_blank">
						<img src="../../images/page/images_13.jpg" class="mlt10">
					</a>
				</p>
			</div>
			<div class="foot_navigation">
				<ul class="clearfix">
					<li>安全保障</li>
					<span>|</span>
					<li>关于我们</li>
					<span>|</span>
					<li>加入我们</li>
					<span>|</span>
					<li>联系我们</li>
					<span>|</span>
					<li>帮助中心</li>
					<span>|</span>
					<li>隐私政策</li>
					<span>|</span>
					<li>免费条款</li>
					<span>|</span>
					<li>政策法规</li>
				</ul>
				<p class="mtop20 textH24 clearfix">ICP备案号：京ICP备14029254号-1经营性ICP许可证号：京ICP证130046号</p>
			</div>
		</div>
		<div class="textCt mtop20 clearfix">
			<a href="#">
				<img src="../../images/page/images_14.jpg">
			</a>
			<a href="#">
				<img src="../../images/page/images_15.jpg" class="mlt20 mrt20">
			</a>
			<a href="#">
				<img src="../../images/page/images_16.jpg">
			</a>
		</div>
	</div>
</div>
</body>
</html>