<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="../../css/reset.css" />
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />
</head>
<body>
	<div class="top_nav">
	<a href="javascript:;" class="logo"><img src='../../images/page/logo.jpg'></a>
	<ul>
		<li><a href="javascript:;">首页</a></li>
		<li><a href="javascript:;">投资列表</a></li>
		<li><a href="javascript:;">安全保障</a></li>
		<li><a href="javascript:;">新手指引</a></li>
	</ul>
	<div class="login_regis">
		<a href="javascript:;" class="login">登录</a>
		<a href="javascript:;" class="regis">注册</a>
	</div>
</div>
</body>
</html>